		<div class="gallery-holder">
      <script>
      $(document).ready(function () {
      	$('.hoverli').hover(
      		function () {
      		$('ul.file_menu').stop().slideDown('medium');
      		},
      		function () {
      		$('ul.file_menu').delay(200).slideUp('medium');
      		});
      });
      
      </script>
			<div class="category-holder">
				<div class="category-intro"><%= t('main.category') %>:</div> <div class="hoverli"><p><span></span>nazwa categorii</p>
					<ul class="file_menu">
				    <li><%= link_to "Ludzie są ludzmi", "#" %></li>
				    <li><%= link_to "Notatki z podróży w czasie", "#" %></li>
				    <li><%= link_to "abcdefghijk", "#" %></li>
				    <li><%= link_to "abcdefghijk", "#" %></li>
				    <li><%= link_to "abcdefghijk", "#" %></li>
				    <li><%= link_to "abcdefghijk", "#" %></li>
				    <li><%= link_to "abcdefghijk", "#" %></li>
				    <li><%= link_to "abcdefghijk", "#" %></li>
		      </ul>
		      </div>
        

			</div>
		
			<div class="clear album-desc">Tutaj opis Albumu, volutpat, leo urna posuere tortor, blandit fringilla nunc diam et nisl. Aenean porta consequat pulvinar. Nunc convallis cursus libero ut lobortis. Vestibulum rhoncus leo non metus vulputate tempor. Proin in sem eget eros dignissim imperdiet eu lobortis mi.</div>
			<p class="photo-title">Tytuł zdjęcia</p>
			<div class="slider-wrapper">
				<div id="slider" class="nivoSlider">
					<!-- galeria sie tu zaczyna. dajemy fote original do linka, i do img src... do data-thumb dajemy miniaturke scale to fill 100x100px -->
					<a class='gallery' href='/assets/up.jpg'><img src="/assets/up.jpg" data-thumb="/assets/up.jpg" alt="" /></a>
					<a class='gallery' href='/assets/walle.jpg'><img src="/assets/walle.jpg" data-thumb="/assets/walle.jpg" alt="" /></a>
					<a class='gallery' href='/assets/toystory.jpg'><img src="/assets/toystory.jpg" data-thumb="/assets/toystory.jpg" alt="" /></a>
					<a class='gallery' href='/assets/nemo.jpg'><img src="/assets/nemo.jpg" data-thumb="/assets/nemo.jpg" alt="" /></a>
				</div><!-- odpalacz coloboxa wewnatrz nivoslidera, musi być tu -->
				<script>
					jQuery('a.gallery').colorbox();
				</script>
			</div>
		</div>
