<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :label, "Strona" %><br />
    <%= f.select :label, options_for_select(Page::PAGE_LABELS, @page.label) %>
  </div>

  <div class="review_infos field" style="<%= 'display:none;' if @page.label == Page::PAGE_LABELS[1][1] %>">
    <div class="field">
      <%= f.label :title, "Tytuł" %><br />
      <%= f.text_field :title %>
    </div>    
    <div class="field">
      <%= f.label :rev_date, "Data recenzji" %><br />
      <%= f.date_select(:rev_date, { :use_month_names => ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"] }) %>
    </div>
  </div>

  <div class="field">
    <%= f.label :content, "Treść" %><br />
    <%= f.text_area :content, :class => 'mceEditor' %>
  </div>
  
  <div class="field">
    <% if @page.photo.present? %>
      <%= (image_tag @page.photo.thumb.url) %><br />
    <% end %>
    
    <%= f.label :photo, "Zdjęcie" %>
    <%= f.file_field :photo %>
    <br/>
    <label>
      <%= f.check_box :remove_photo %>
      Usuń zdjęcie
    </label>
  </div>
  <div class="clearspace"></div>
  <div class="actions">
    <%= f.submit "Zatwierdź" %>
  </div>
  <div class="clearspace"></div>
<% end %>



<script type="text/javascript">
  $("#page_label").change( function() {
    if ( $(this).val() == "<%= Page::PAGE_LABELS[0][1] %>" ) {
      $('.review_infos').show();
    } else {
      $('.review_infos').hide();
    };
  });
</script>