<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :label, "Strona" %><br />
    <%= f.select :label, options_for_select(Page::PAGE_LABELS, @page.label) %>
  </div>

  <div class="field">
    <%= f.label :content, "Treść" %><br />
    <%= f.text_area :content, :class => 'mceEditor' %>
  </div>
  
  <div class="field">
    <% if @page.photo.present? %>
      <%= (image_tag @page.photo.thumb.url) %><br />
    <% end %>
    
    <%= f.label :photo, "Zdjęcie" %>
    <%= f.file_field :photo %>
    <br/>
    <label>
      <%= f.check_box :remove_photo %>
      Usuń zdjęcie
    </label>
  </div>
  
  <div class="actions">
    <%= f.submit "Zatwierdź" %>
  </div>
<% end %>
