<h1>Strony informacyjne</h1>

<table width="100%">
  <tr>
    <th>Strona</th>
    <th>Tytuł</th>
    <th>Początek treści</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= pages_label(page.label) %></td>
    <td width="10%"><%= raw page.title+"<br/>"+page.rev_date.strftime("%Y.%m.%d") if page.label == Page::PAGE_LABELS[0][1] %></td>
    <td><%= truncate(strip_tags(page.content), :length => 50) %></td>
    <td><%= link_to 'Edytuj', edit_page_path(page) %></td>
    <td><%= link_to 'Usuń', page, confirm: 'Napewno usunać?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowa strona', new_page_path %>
