<div class="field">
  <%= f.label :p_title, "Tytuł zdjęcia" %>
  <%= f.text_field :p_title %>
</div>
<div class="field">
  <%= f.label :photo, "Plik" %>

  <%= f.file_field :photo %>
  <%= f.hidden_field :photo_cache %>

  <%= link_to_remove_fields "usuń", f %><br>
  <% if f.object.photo.present? %>
    <br /><%= (image_tag f.object.photo.thumb.url) %><br>
  <% end %><br>
  --------------------------------------<br>
</div>
