<h1>Albumy zdjęć <%= (disp = show_gal_type(session[:section], session[:type])).present? ? '- '+disp : '' %></h1>
<%= link_to 'Dodaj nowy album', new_gallery_path %>
<br/>
<br/>
<br/>
<table width="100%">
  <tr>
    <th width="20%">Tytuł</th>
    <th width="60%">Zdjęcia</th>
    <th width="20%">Opcje</th>
  </tr>

  <% @galleries.each do |gallery| %>
    <tr>
      <td><%= gallery.title %> <%= image_tag(gallery.icon.thumb.url) if gallery.icon.present? %></td>
      <td>
        <% gallery.sorted_photos.each do |photo| %>
          <% if photo.photo.present? %>
            <%= image_tag photo.photo.thumb.url, :title => photo.p_title, :alt => photo.p_title %>
          <% else %>
            Photo error
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Sortuj', gallery_path(gallery) %>
        <%= link_to 'Edytuj', edit_gallery_path(gallery) %> 
        <%= link_to 'Usuń', gallery, confirm: 'Czy na pewno chcesz usunąć galerię? ', method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
