<p>
	<b>Tytuł Albumu:</b>
	<%= @gallery.title %>
</p>

<b>Zdjęcia:</b> złap zdjęcie i przesuń<br/>
<ol id="ph_uls">
  <% @photos.each do |photo| %>
  <li class="ph_ul" id="ph_li_<%= photo.id %>">
    <span class="handle">    
      <%= image_tag photo.photo.thumb.url %>
    </span>
  </li>
  <% end %>
</ol>

<div class="clearspace"></div>
<%= link_to 'Edytuj album', edit_gallery_path(@gallery) %> |
<%= link_to 'Zapisz', galleries_path %>


<style type="text/css">
  .handle:hover{cursor: move;}
</style>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(document).ready(function(){
      $('#ph_uls').sortable({
        axis: 'x',
        dropOnEmpty: false,
        handle: '.handle',
        cursor: 'crosshair',
        items: 'li',
        opacity: 0.4,
        scroll: true,
        update: function(){
          $.ajax({
            type: 'post',
            data: $('#ph_uls').sortable('serialize'),
            dataType: 'script',
            complete: function(request){
              $('#books').effect('highlight');
            },
            url: '<%= sort_gallery_url(@gallery) %>'
          })
        }
      });
    });
  <% end %>
<% end %>
