<div id="tabs">
  <ul>
    <li class="tabbed"><a href="#tab-1"><%= t('main.review_label') %></a></li>
    <li class="tabbed"><a href="#tab-2"><%= t('main.contact_label') %></a></li>
  </ul>
  <p class="clear"></p>
  <div id="tab-1" class="review-area">
    <% @reviews.each do |review| %>
      <%= link_to front_review_url(params[:section], review) do %>
        <span class="pub-date"><%= review.rev_date.strftime("%Y.%m.%d") %></span><br>
        <h6><%= review.title %></h6>
        <%= raw truncate(strip_tags(review.content), :length => 350) %><br><br>
        <span class="pub-read">Czytaj więcej »</span>
      <% end %>
      <p class="clear"><br></p>
      <br/>
    <% end %>
  </div>
  <div id="tab-2">
    <%= (image_tag @contact.photo.small.url) if @contact.present? && @contact.photo.present? %>
    <%= raw @contact.content if @contact.present? %>
    <p class="clear"></p>
  </div>   
</div>
