<div id="tabs">
  <ul>
    <li class="tabbed"><a href="#tab-1"><%= t('main.review_label') %></a></li>
    <li class="tabbed"><a href="#tab-2"><%= t('main.contact_label') %></a></li>
  </ul>
  <p class="clear"></p>
  <div id="tab-1">
    <% @reviews.each do |review| %>
      <%= link_to front_review_url(params[:section], review) do %>
        <%= review.rev_date.strftime("%Y.%m.%d") %> <%= review.title %><br/>
        <%= raw truncate(strip_tags(review.content), :length => 200) %><br/>
      <% end %>
      <p class="clear"></p>
      <br/>
    <% end %>
  </div>
  <div id="tab-2">
    <%= (image_tag @contact.photo.small.url) if @contact.present? && @contact.photo.present? %>
    <%= raw @contact.content if @contact.present? %>
    <p class="clear"></p>
  </div>   
</div>