<!DOCTYPE html>
<html>
  <head>
    <title>Plewiński.com Panel administracyjny</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Questrial|Istok+Web&subset=latin,latin-ext" %>
    <%= javascript_include_tag 'jquery.js', 'jquery_ujs.js', 'jquery-ui.js', 'application_jquery.js' %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
    <script type="text/javascript">
      tinyMCE.init({
        mode : "textareas",
        editor_selector : "mceEditor",
        plugins: "media",
        media_strict: false 
      });
    </script>

    <%= yield :javascript %>
  </head>
  <body>
    
    <% if alert.present? %>
      <div class="flash-error message" id="error"><span><%= t('error') %></span><br><%= alert %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-error").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    <% if notice.present?  %>
      <div class="flash-notice message" id="notice"><span><%= t('success') %></span><br><%= notice %></div>
      <script type="text/javascript">
	$(document).ready(function() {
	  $("div.flash-notice").delay(5000).slideUp('medium');
	});
      </script>
    <% end %>
    
    <div class="main-wrapper">
      <header><h1>Panel Administracyjny<%= ' - ' if session[:section].present? %><%= display_user(session[:section])%></h1>
        <br><br>
	<% if session[:admin_loggedin] %>
	  <%= link_to image_tag('pl.png'), set_language_url(:locale => 'pl'), :class => "#{'lang_selected' if session[:locale] == 'pl'}" %> |
	  <%= link_to image_tag('gb.png'), set_language_url(:locale => 'en'), :class => "last-flag #{'lang_selected' if session[:locale] == 'en'}" %>  -
	  <% if session[:locale] == 'pl' %>
	    Modyfikujesz teraz <strong>Polskie</strong> treści
	  <% else %>
	    Modyfikujesz teraz <strong>Angielskie</strong> treści
	  <% end %>
	<% end %>
      </header>
      
      
      <nav class="breadcrumbs">
	<div style="min-width: 290px; float: left;">
	  
	  <% if session[:admin_loggedin] %>
		<strong><%= link_to "Wróć do serwisu", root_url, :target => "_blank" %></strong>
	    <strong><%= link_to "wyloguj", admin_logout_url %></strong>
	  <% end %>
	  <span class="next-sep">&nbsp;</span>
	</div>
	<% if session[:admin_loggedin] %>
	  <%= link_to display_user(SECTION[0]), set_section_url(:section => SECTION[0]), :class => "#{'selected' if session[:section] == SECTION[0]}" %>
	  <%= link_to display_user(SECTION[1]), set_section_url(:section => SECTION[1]), :class => "#{'selected' if session[:section] == SECTION[1]}" %>
	  <%= link_to display_user(SECTION[2]), set_section_url(:section => SECTION[2]), :class => "#{'selected' if session[:section] == SECTION[2]}" %>	
	<% end %>
      </nav>
      <div class="admin-content">
	<aside class="main-nav">
	  <% if session[:admin_loggedin] %>
	  <ul>
	    <% if session[:section].present? %>
	      <% if session[:section] == SECTION[2] %>
				<% if false %><li><%= link_to "Strony informacyjne", pages_url %></li><% end %>
		<li><%= link_to "Albumy", set_gallery_type_url(:type => GAL_TYPE[0]) %></li>
		<li><%= link_to "Video", vids_url %></li>
	      <% else %>
		<li><%= link_to "Strony informacyjne", pages_url %></li>
		<li><%= link_to "Albumy autorskie", set_gallery_type_url(:type => GAL_TYPE[0]) %></li>
		<li><%= link_to "Albumy komercyjne", set_gallery_type_url(:type => GAL_TYPE[1]) %></li>
	      <% end %>
	    <% end %>
	  </ul>
	  <% end %>
	</aside>	
	
	<div class="page-content">
	  <%= yield %>
	</div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
