<!DOCTYPE html>
<html>
  <head>
    <title>A-prim - Panel administracyjny</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Questrial|Istok+Web&subset=latin,latin-ext" %>
    <%= javascript_include_tag 'jquery.js', 'jquery_ujs.js', 'application_jquery.js' %>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "tiny_mce/tiny_mce.js" %>
    <script type="text/javascript">
      tinyMCE.init({
        mode : "textareas",
        editor_selector : "mceEditor",
        plugins: "media",
        media_strict: false 
      });
    </script>
       
  </head>
  <body>
    <div class="main-wrapper">
      <% if alert.present? %>
	<p class="flash-error" id="error"><%= alert %></p>
	<script type="text/javascript">
	  $(document).ready(function() {
	    $("p.flash-error").delay(5000).fadeOut(5000);
	  });
	</script>
      <% end %>
      <% if notice.present?  %>
	<p class="flash-notice" id="notice"><%= notice %></p>
	<script type="text/javascript">
	  $(document).ready(function() {
	    $("p.flash-notice").delay(5000).fadeOut(5000);
	  });
	</script>
      <% end %>
      
      
      
      <header>Panel Administracyjny<%= ' - ' if session[:section].present? %><%= display_user(session[:section])%></header>
      <% if session[:admin_loggedin] %>
	
	<nav class="breadcrumbs">
	  <div style="width: 25%; float: left;">
	    Zalogowano jako: <strong><%= session[:account_type] %> | <%= link_to "wyloguj", admin_logout_url %></strong>
	    
	    <span class="next-sep">&nbsp;</span>
	  </div>
	  <%= link_to 'pl', set_language_url(:locale => 'pl'), :class => "#{'lang_selected' if session[:locale] == 'pl'}" %> |
	  <%= link_to 'en', set_language_url(:locale => 'en'), :class => "#{'lang_selected' if session[:locale] == 'en'}" %> |
	  ---
	  <%= link_to display_user("os1"), set_section_url(:section => SECTION[0]) %> ---
	  <%= link_to display_user("os2"), set_section_url(:section => SECTION[1]) %> ---
	  <%= link_to display_user("os3"), set_section_url(:section => SECTION[2]) %> ---
	</nav>
	<div class="admin-content">
	  <aside class="main-nav">
	    <ul>
	      <% if session[:section].present? %>
		<li><%= link_to "Strony informacyjne", pages_url %></li>
		<li><%= link_to "Albumy autorskie", set_gallery_type_url(:type => GAL_TYPE[0]) %></li>
		<li><%= link_to "Albumy komercyjne", set_gallery_type_url(:type => GAL_TYPE[1]) %></li>
	      <% end %>
	    </ul>
	  </aside>
	  
      <% end %>  
      <div class="page-content">
	<%= yield %>
      </div>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
