<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= display_user(params[:section]) %> - Plewiński.com - Fotograf</title>
    <meta name=”description” content=”Fotografia Plewiński”>
    <meta name=”keywords” content=”fotograf, fotografia, maciej plewiński, wojciech plewiński, filip plewiński, plewiński autorskie, komercyjne, kraków”>
    <meta name=”robots” content=”index,follow”>
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "colorbox.css" %>

    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "init.js" %>
    <%= javascript_include_tag "slides.jquery.js" %>
    <%= javascript_include_tag "jquery.colorbox-min.js" %>
    <%#= javascript_include_tag "http://www.jacklmoore.com/colorbox/colorbox/jquery.colorbox.js" %>    
    
    <%= javascript_include_tag "jquery.nivo.slider.js" %>
            
    
        <script>
            $(function(){
                $("#slides").slides({
					generateNextPrev: true,
					generatePagination: false,
					prev: 'nivo-prevNav',
					next: 'nivo-nextNav'
					});
            });
        </script>
    <%#= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Voces|Exo:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main-wrapper">
      <header>
	<div class="languages">
	  <%= link_to image_tag('pl.png'), set_language_url(:locale => 'pl'), :class => "#{'lang_selected' if session[:locale] == 'pl'}" %> |
	  <%= link_to image_tag('gb.png'), set_language_url(:locale => 'en'), :class => "last-flag #{'lang_selected' if session[:locale] == 'en'}" %>
	</div>
	
	<% if params[:controller] == 'home' || params[:action] == 'index' %>
	  <div class="clearspace"></div>
	<% else %>
	  <h1>
	    
	    <%= link_to display_user(params[:section]), auth_gallery_categories_url %>
	    <%= link_to '', root_url, :class => "home-icon" %>
	  </h1>
	<% end %>
	<% if params[:controller] != 'home' || params[:action] != 'index' %>
	  <nav>
	    <% if params[:section] == SECTION[2] %>
	      <%= link_to t('main.photo_main'), auth_gallery_categories_url(:section => params[:section]), :class => "#{ set_selected_class("front_section", "auth_gallery") }" %>
	      <%= link_to t('main.video'), front_vid_url(:section => params[:section]), :class => "#{ set_selected_class("front_section", "vid") }" %>
	    <% elsif params[:section] == SECTION[0] %>
			<%= link_to t('main.culture'), auth_gallery_categories_url(:section => params[:section]), :class => "#{ set_selected_class("front_section", "auth_gallery") }" %>
	      <%= link_to t('main.contact'), info_url, :class => "#{ set_selected_class("front_section", "info") }" %>
	      <%= link_to t('main.nature'), com_gallery_categories_url(:section => params[:section]), :class => "#{ set_selected_class("front_section", "com_gallery") }" %>
	    <% else %>
	      <%= link_to t('main.photo_own'), auth_gallery_categories_url(:section => params[:section]), :class => "#{ set_selected_class("front_section", "auth_gallery") }" %>
	      <%= link_to t('main.contact'), info_url, :class => "#{ set_selected_class("front_section", "info") }" %>
	      <%= link_to t('main.photo_com'), com_gallery_categories_url(:section => params[:section]), :class => "#{ set_selected_class("front_section", "com_gallery") }" %>
	    <% end %>
	    
	  </nav>
	  <div class="clear seperator"></div>
	<% end %>
      </header>

      <%= yield %>
      <div class="clearspace"></div>
    </div>
  </body>
</html>
